In [1]:
#Task 1(1st program)
print ("Ranith")

Ranith

In [2]:
#Task 1(2nd program)
lst = []
for i in range (2000,3201):
    if (i%7 == 0) and (i%5!=0):
        lst.append(str(i))
print (",".join(lst))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [3]:
#Task 1(3rd program)
a = input("Enter the first and last name:")
b = a.split()
v = ""
for i in b:
    v+= i[::-1]
    v+= " "
print(v)

Enter the first and last name:Ranjith Loganathan
htijnaR nahtanagoL

In [4]:
#Task 1(4th program)
d = 12
r = d/2
import math
c = math.pi
v = 4/3*c*r**3
print(str(v)+"cm^3")

904.7786842338603cm^3

In [5]:
#Task 2(1st program)
a = (input("Enter comma separated numbers:"))
b = a.split(",")
b = [int(i) for i in b]
print(b)

Enter comma separated numbers:1,2,3,4,5,6,7,8,9,10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
# Task 2(2nd program)
for a in range(5):
    for b in range(a):
        print ("*",end = "")
    print()
for a in range(5,0,-1):
    for b in range(a):
        print ("*",end = "")
    print()

*
**
***
****
*****
****
***
**
*

In [7]:
#Task 2 (3rd program)
c= input()
c[::-1]

Ranjith

'htijnaR'

In [8]:
#Task 2 (4th program)
print("WE, THE PEOPLE OF INDIA,\n\t having solemnly resolved to constitute India into a SOVEREIGN,!\n\t\t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC\n\t\t and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN,!
		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens